{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2 class="text-center p-5">Alunos 7º Ano</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th class="mt-3">Foto</th>
            </tr>
        </thead>
        <tbody>
            {% if aluno_7ano %}
            <tr>
            </tr>
                {% for aluno in aluno_7ano %}
                    <tr>
                        <td><a href="{% url 'aluno' aluno.id %}">{{ aluno.nome }}</a></td>
                        {% comment %} <td>{{ aluno.serie }}</td> {% endcomment %}
                        <td><img src="{{ aluno.imagem.url }}" width="120" height="120"></td>
                    </tr>
                {% endfor %}
            {% endif %}

        </tbody>
    </table>
{% endblock %}
