{% extends 'base.html' %}
{% load static %}


{% block content %}
    <h2 class="text-center p-5">Alunos 9º Ano</h2>
    <div class="row">
        {% if aluno_9ano %}
            {% for aluno in aluno_9ano %}
                <div class="col-md-4">
                    <div class="card mb-3">
                        <img src="{{ aluno.imagem.url }}" class="card-img-top custom-img" alt="Foto do Aluno">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'aluno' aluno.id %}">{{ aluno.nome }}</a></h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
