{% extends 'base.html' %}
{% load static %}


{% block content %}
    <style>
        .center-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }
        .custom-img {
            width: 250px;
            height: 250px;
            margin-bottom: 20px;
            border: 2px solid #ccc;
            border-radius: 5px;
        }
        .name {
            text-align: center;
        }
        .back-button {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="center-content">
        <div>
            <img src="{{ aluno.imagem.url }}" class="custom-img" alt="Foto do Aluno">
            <h3 class="name">{{ aluno.nome }}</h3>
        </div>
{% endblock %}
